<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">

    <title>Contact us</title>
    <style>
        ::selection {
            background-color: #8c0005;
            /* Set your desired background color */
            color: white;
            /* Set your desired text color */
        }
    </style>
</head>

<body>

    <div class="heading">
        <div class="leftnav">
            <div class="nav">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a class="active" href="/contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="centernav">
            <!-- <h2 class="righth2">Text Extractor</h2> -->
            <img class="extpng" src="../static/images/vanstat.png" />
            <img class="extgif" src="../static/images/vanilla.gif" />
        </div>
        <div class="rightnav">
            <img class="rightimg" src="../static/images/newlogo.png" alt="logo"
                onclick="redirectToLink('https://ongcindia.com/')">
        </div>
    </div>
    <script>
        function redirectToLink(url) {
            window.open(url, '_blank');
        }
    </script>



    <div class="container">

        <div class="sub-container-1">

        </div>
        <div class="sub-container2">

            <div class="sub-box">
                <!-- <p id="extracted_text" class="para" style="object-fit:contain; border:solid 2px #CCC; white-space: pre-wrap;">{{ extracted_text }}</p> -->
                <p id="extracted_text" class="para"
                    style="object-fit:contain; border:solid 2px #CCC; white-space: pre-wrap;">
                    For Media related queries:

                    1. Fax No 011-261 29091

                    2. Email id: ongcdelhicc@ongc.co.in

                    For ONGC Recruitment-related queries: recruitment@ongc.co.in

                    For ONGC CSR-related queries: csr@ongc.co.in

                    For ONGC Sports-related queries: ongcsports@ongc.co.in

                    Registered Office:
                    Plot No. 5A- 5B Nelson Mandela Road, Vasant Kunj, New Delhi, 110070

                    Corporate Identity Number:
                    L74899DL1993GOI054155

                    Telephone No. 011-26750998; Fax No: 011-26750991/ 26129091

                    For registering any grievances, please visit ONGC Grievance portal:
                    https://grievance.ongc.co.in
                </p>


            </div>
        </div>

        <div class="sub-container-1">

        </div>
    </div>

    <footer>
        <a href="/guide">Software Guide</a>
        <p><span>Software from </span>Computer Services, Exploration and Development Directorate Dehradun</p>
        <a href="/feedback">Feedback</a>
    </footer>

</body>

</html>